<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-3">
      <%= image_tag "icon/servicelogo.png", id: "servicelogo", alt: "尻撮り" %>
    </div>
  </div>
  <div class="row no-gutter marginleft">
    <div class="col-xs-4 marginleft">
        <%= video_tag("/movies/ra.mp4", controls: true, size: "100x150", poster: "/images/ra.png") %>
    </div>
     <div class="col-xs-4 marginleft-m">
        <%= video_tag("/movies/tu.mp4", controls: true, size: "100x150", poster: "/images/tu.png") %>
    </div>
    <div class="col-xs-4 marginleft-m">
        <%= video_tag("/movies/pa.mp4", controls: true, size: "100x150", poster: "/images/pa.png") %>
    </div>
  </div>
  <%= image_tag "icon/line.png", id: "line", alt: "矢印" %>
  <div class="row no-gutter margintop">
    <div class="col-xs-4 marginleft">
        <%= video_tag("/movies/go.mp4", controls: true, size: "100x150", poster: "/images/go.png") %>
    </div>
     <div class="col-xs-4 marginleft-m">
        <%= video_tag("/movies/ri.mp4", controls: true, size: "100x150", poster: "/images/ri.png") %>
    </div>
    <div class="col-xs-4 marginleft-m">
        <%= video_tag("/movies/ra.mp4", controls: true, size: "100x150", poster: "/images/ra.png") %>
    </div>
  </div>
  <%= image_tag "icon/line.png", id: "line", alt: "矢印" %>
  <div class="row no-gutter margintop">
    <div class="col-xs-4 marginleft">
		<%= video_tag("/movies/ri.mp4", controls: true, size: "100x150", poster: "/images/ri.png") %>
    </div>
	 <div class="col-xs-4 marginleft-m">
	 	<%= video_tag("/movies/nn.mp4", controls: true, size: "100x150", poster: "/images/nn.png") %>
    </div>
	<div class="col-xs-4 marginleft-m">
		<%= video_tag("/movies/go.mp4", controls: true, size: "100x150" , poster: "/images/go.png") %>
	</div>
  </div>
</div>

<ul>
  <% @movie_lists.each do |movie_list| %>
    <li>
      <% movie_list.each.with_index(1) do |movie, index| %>
        <b><%= index %></b> : <%= movie %>
    <% end %>
    </li>
  <% end %>
</ul>
